/* progress-bar.component.css */

.progress-container {
    width: 100%;
    height: 30px;
    background-color: #f1f1f1;
    position: relative;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    position: absolute;
    transition: width 0.5s ease-in-out, left 0.5s ease-in-out;
}

.value-display {
    text-align: center;
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #333;
}

/* Add a pseudo-element for a more polished look with a subtle inset shadow */
.progress-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}


.heading {
    text-align: center;
    color: #ffffff;
    margin-bottom: 30px;
    font-size: 2.5rem;
    font-weight: 700;
    background: -webkit-linear-gradient(left, #6dd5ed, #2193b0);
    background: linear-gradient(to right, #6dd5ed, #2193b0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: inline-block;
    /* To contain the gradient to the text */
    text-align: center;

}